:root{
    --border-radius: 10px;
}

html, body {
    min-height: 100vh;
}

.site {
    background: #f4f5f499;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-dark .navbar-brand {
    color: #FF652F;
}

.flex-1 {
    flex: 1
}

.rounded-img {
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.125)
}

.contain {
    width: 1100px;
    height: 400px;
    object-fit: cover;
}

.carousel-content {
    width: 400px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 20;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    border-radius: var(--border-radius);
    padding: 20px 20px 0px 20px;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 4px;
    margin-bottom: 0;
    overflow: hidden;
}

.article-date {
    border-top: 1px solid white;
    font-size: 14px;
}

.index-heading {
    margin-top: 16px;
    color: #333;
}

.separator {
    background: #FF652F;
    height: 0.2px;
}

.card {
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card-body {
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    max-height: 420px;
}

.card-text {
    max-height: 100px;
    overflow: hidden;
    height: 100%;
}

.gallery img {
    object-fit: scale-down;
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: 0.5s;
}

.gallery img:hover {
    transform: scale(1.1);
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}

.arrow:after {
    cursor: pointer;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    z-index: 2;
    color: white;
    font-size: 30px;
}

#arrow-left:after {
    content: "\f053";
    left: 25px;
}

#arrow-right:after {
    content: "\f054";
    right: 25px;
}