{% load crispy_forms_tags %}
<div class="row comment-wrapper">
  <div class="col-md-6">
        <div class="card is-comment-box">
          <div class="card-body">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
              Your comment has been posted!
            </div>
            {% else %}
            <h5>Leave a comment</h5>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form | crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
    </div>

  <div class="col-md-6 mt-3 mt-md-0">
      <div class="card is-comment-box">
        <div class="card-body">
          <!-- comments -->
          <h5>{{ comments.count }} comments</h5>

          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>