{% extends 'base.html' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <article>
            <h1>{{ article.title }}</h1>
            <p class="mb-3 mb-md-4"><i>{{ article.pub_date }}</i></p>
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <img src="{{ article.carousel_img.url}}" alt="" class="rounded-img img-fluid ">
                </div>
            </div>
            <p class="mt-4 mt-md-4">{{ article.content}}</p>
            <hr>
            <p>Categories: <a href="">{{ article.category }}</a></p>
        </article>

        {% block comment %} {% include 'comment.html' %} {% endblock comment %}
    </div>
</div>


{% endblock %}