{% extends 'base.html' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}


{% for gallery in galleries %}
<div class="mb-4">
    <h2 class="gallery-heading">{{ gallery.title}}
        <hr>
    </h2>
    <div class="row justify-content-start gallery">
        {% for image in gallery.images.all %}
            <div class="col-6 col-md-3 col-lg-2 d-md-flex">
                <img src="{{ image.size_gallery.url }}" class="img-fluid" alt="{{ image.image.title }}" data-full-img="{{ image.size_large.url }}">
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}


{% endblock %}